*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;    
}

.wrapper h1{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    text-align: center;
}

.wrapper p{
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
}

.wrapper .main{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.wrapper .form-container{
    width: 500px;
    height: 500px;
    background-color: #e4e4e4;
    margin: 20px auto;
    padding: 20px;   
}

.wrapper .form-container .btn{
    margin-left: 55px;
    width: 70%;   
}

.wrapper .view-container{
    width: 600px;    
    background-color: #e4e4e4;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.delete-btn{
    color: red;
    cursor: pointer;
}

tbody{
    margin-top: 25px;
}

span h2{
    display: inline;
    width: 50%;
}
h2{
    padding-left: 20%;
    padding-right: 20%;
}